@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>-Brennan Morell is a second year student at Washington University in St. Louis. He studies Computer Science 
    with a minor in Finance. He is a member of Sigma Nu Social Fraternity.
    </p>
<p>
    -Lukas Sontich is a second year student at University of Pennsylvania. He studies Finance with a minor in 
    Computer Information Systems. He is a member of Beta Theta Pi Social Fraternity.
</p>