
@{
    ViewBag.Title = "Home Page";
}

<h2><b>Wolf</b></h2>

<table>
    <tr><td>&nbsp;</td></tr>
    <tr><td>Wolf is a kickass stock data query app.</td></tr>
    <tr><td>&nbsp;</td></tr>
</table>

<table>
    <tr><td>@Html.ActionLink("Search", "Search", "Search")</td></tr>
    <tr><td>@Html.ActionLink("Optimize Portfolio", "Portfolio", "Portfolio")</td></tr>
</table>

